<footer class="footer fixed-bottom">
    <div class="container-fluid bg-light py-2">
        <span> Project maintained by <a class="text-decoration-none" href="https://github.com/johnkallstrom">John Källström</a>,
            <a class="text-decoration-none" href="hhttps://github.com/Ezeih">Ezeih Alrashdan</a>,
            <a class="text-decoration-none" href="https://github.com/Ca2le">Carl Sporrong</a> and <a class="text-decoration-none" href="https://github.com/suny-am/">Calle Sandberg</a>
        </span>
    </div>
</footer>